@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
    font-family: IranSans;
    src: url("../public/font/IRANSans.eot") format(eot) , 
    url("../public/font/IRANSans.woff") format(woff) , 
    url("../public/font/IRANSans.woff2") format(woff2) ;
}


@layer base {
    html {
      font-family: IranSans, system-ui, sans-serif;
    }
  }

/*  */
.comments-slider {
  padding-bottom: 50px!important;
}
.comments-slider .swiper-pagination-bullet{
  background-color: white;
  border: 2px solid #3498db;
  padding: 5px;
}
.comments-slider .swiper-pagination-bullet-active{
  background-color: #3498db;
}